# 0. Loading row data

In [1]:
import os
import pandas as pd

CARS_PATH = 'data'

def load_cars_data(cars_path=CARS_PATH):
    csv_path = os.path.join(cars_path, 'car_data.csv')
    return pd.read_csv(csv_path)

cars = load_cars_data()
cars.head()

,Unnamed: 0,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,...,type,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,0,marshall,11900,2010.0,dodge,challenger se,good,6 cylinders,gas,43600.0,...,coupe,red,43.4775,-96.7041,46083.0,Lincoln,46.0,SD,South Dakota,38.0
1,1,marshall,1515,1999.0,NaN,fleetwood,NaN,NaN,gas,NaN,...,NaN,NaN,44.7612,-96.6907,46039.0,Deuel,46.0,SD,South Dakota,38.0
2,2,marshall,17550,2008.0,ford,f-150,NaN,NaN,gas,NaN,...,NaN,NaN,44.1415,-103.2052,46093.0,Meade,46.0,SD,South Dakota,38.0
3,3,marshall,2800,2004.0,ford,taurus,good,6 cylinders,gas,168591.0,...,sedan,grey,43.2845,-95.5930,19143.0,Osceola,19.0,IA,Iowa,47.0
4,4,marshall,400,2001.0,NaN,2001 Grand Prix,NaN,NaN,gas,217000.0,...,NaN,NaN,43.0261,-94.4064,19109.0,Kossuth,19.0,IA,Iowa,47.0

In [2]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1723065 entries, 0 to 1723064
Data columns (total 25 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   city          object
 2   price         int64
 3   year          float64
 4   manufacturer  object
 5   make          object
 6   condition     object
 7   cylinders     object
 8   fuel          object
 9   odometer      float64
 10  title_status  object
 11  transmission  object
 12  vin           object
 13  drive         object
 14  size          object
 15  type          object
 16  paint_color   object
 17  lat           float64
 18  long          float64
 19  county_fips   float64
 20  county_name   object
 21  state_fips    float64
 22  state_code    object
 23  state_name    object
 24  weather       float64
dtypes: float64(7), int64(2), object(16)
memory usage: 328.6+ MB

In [3]:
cars.keys()

Index(['Unnamed: 0', 'city', 'price', 'year', 'manufacturer', 'make',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color', 'lat',
       'long', 'county_fips', 'county_name', 'state_fips', 'state_code',
       'state_name', 'weather'],
      dtype='object')